// 背景图片
bg-image($imgName, $isRoot = false)
  $image2X = $isRoot ? ('../../assets/images/' + $imgName + '@2x.png') : ('./images/' + $imgName + '@2x.png')
  $image3X = $isRoot ? ('../../assets/images/' + $imgName + '@3x.png') : ('./images/' + $imgName + '@3x.png')
  width image-size($image2X)[0]
  height image-size($image2X)[1]
  background-repeat no-repeat
  background-size contain
  background-image url($image2X)
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3)
    background-image url($image3X)

// 锁定图片尺寸
max-size($size = 100%)
  max-width $size
  max-height $size

// 多行溢出
mult-line($line = 2)
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  -webkit-line-clamp $line
  -webkit-box-orient vertical

// 前缀icon
prefix-icon($width = 0, $height = 0)
  pos-y()
  content ''
  height $height
  width $width
  background-repeat no-repeat
  background-size contain

// 不换行
no-wrap()
  text-overflow ellipsis
  overflow hidden
  white-space nowrap

// 扩展点击区域
extend-click()
  position relative
  &::before
    content ''
    position absolute
    top -10px
    left -10px
    right -10px
    bottom -10px

// 满屏
fixed-full($zIndex = 2)
  position fixed
  z-index $zIndex
  top 0
  left 0
  right 0
  bottom 0

// 清除浮动
clearfix()
  &:before, &:after
    content ''
    display table
  &:after
    clear both
    overflow hidden

// 水平垂直居中
pos-center()
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

// 仅水平居中
pos-x()
  position absolute
  left 50%
  transform translateX(-50%)

// 仅垂直居中
pos-y()
  position absolute
  top 50%
  transform translateY(-50%)

// 边框 - 适用2px以上
border-name($width = 2px, $color = #d7d7d7, $style = solid, $dir = '')
  if ($dir == top)
    border-top $width $style $color
  else if ($dir == bottom)
    border-bottom $width $style $color
  else if ($dir == left)
    border-left $width $style $color
  else if ($dir == right)
    border-right $width $style $color
  else
    border $width $style $color

// 边框 1px
border-1px($color = $color-col-line, $type = solid)
  position relative
  &:after
    content '\0020'
    width 100%
    height 100%
    border 1px $type $color
    position absolute
    left 0
    top 0
    z-index -1
    transform-origin 0 0
    @media (min-resolution: 2dppx)
      width 200%
      height 200%
      transform scale(.5)
    @media (min-resolution: 3dppx)
      width 300%
      height 300%
      transform scale(.3333)

// 水平(上下)边框
border-x($width, $dir = top, $color = #d7d7d7)
  position relative
  &:before
    content '\0020'
    width $width
    height 1px
    transform scaleY(0.5)
    position absolute
    left 0
    if ($dir == top)
      top 0
      border-top 1px $color solid
      transform-origin 0 top
    else
      bottom 0
      border-bottom 1px $color solid
      transform-origin 0 bottom
    @media (min-resolution: 3dppx)
      transform scaleY(0.33333)

// 垂直(左右)边框
border-y($height, $dir = right, $color = #d7d7d7)
  position relative
  &:after
    content '\0020'
    height $height
    width 1px
    transform scaleX(0.5)
    position absolute
    top 0
    if ($dir == right)
      right 0
      border-right 1px $color solid
      transform-origin right 0
    else
      left 0
      border-left 1px $color solid
      transform-origin left 0
    @media (min-resolution: 3dppx)
      transform scaleX(0.33333)

// 箭头三角形 - 线条
arrow($dir = right, $width = 30px, $color = #928b8b, $border = 2px, $poa = $width/2)
  position relative
  &:after
    content '\0020'
    display block
    width $width
    height $width
    border-top $border solid $color
    border-right $border solid $color
    position absolute
    top 50%
    margin-top $poa*-1
    if $dir == bottom
      right 0
      transform rotate(135deg)
    else if $dir == top
      right 0
      transform rotate(-45deg)
    else if $dir == left
      left 0
      transform rotate(-135deg)
    else
      right 0
      transform rotate(45deg)

// 等腰三角形 - 实心
triangle($width, $color, $dir = top)
  height 0
  width 0
  border-width $width
  border-style solid
  border-color transparent
  if ($dir == top)
    border-bottom-color $color
  else if ($dir == right)
    border-left-color $color
  else if ($dir == bottom)
    border-top-color $color
  else if ($dir == left)
    border-right-color $color