// 颜色定义规范
$color-theme = #ffcd32
$color-theme-sub = #f95a29
$color-theme-bg = #eff0f0
$color-error-msg = #ff0000

$color-bold = #2b2b2b
$color-fff = #fff
$color-ccc = #ccc
$color-eee = #eee
$color-666 = #666
$color-999 = #999
$color-text = #333
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-size-small-s = 20px
$font-size-small = 24px
$font-size-medium = 28px
$font-size-medium-x = 32px
$font-size-large = 36px
$font-size-large-x = 44px

// 自定义覆盖 cube-UI
$color-regular-blue = $color-theme-sub
$color-row-line = #d7d7d7
$color-col-line = #d7d7d7
