@import '~assets/stylus/variable.styl'
@import '~assets/stylus/mixin.styl'

.home
  padding-top 50px
  overflow hidden
  text-align center
  .btn
    margin 55px auto 0
  .btn2
    margin 55px auto 0
  .btn3
    margin-top 50px
